body{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-style: normal;
  background: #f6f6f6 !important;
}

.game-container{
  padding:20px 0;
  #game-board{
    position: relative;
    background:#CCC;
  	border:#999 1px solid;
    padding:24px;
    .col{
      background: rgba(255,255,255,0.7);
    	border:#000 1px solid;
      height: 150px;
    	cursor:pointer;
    	text-align:center;
      font-size: 100px;
      &:hover{
        background: rgba(255,255,255,1);
      }
    }
    .timer{
      font-size: 22px;
      color:#fff;
    }
    .score-level{
      padding: 10px;
      font-size: 18px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}
.modal{
  .modal-footer{
    text-align: center !important;
  }
}
